html, body
{
	height: 100%;
	margin: 0px;
	font-family: sans-serif;
}

body
{
	font-size: 80%;
}

div#leafletmap
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

div#header
{
	display: block;
	position: fixed;
	top: 10px;
	left: 50px;
	max-width: 80%;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	margin: 0px;
	background-color: #edededbd;
	z-index: 1000;
}

span#versionsub
{
	font-size: xx-small;
	font-weight: lighter;
}

h1
{
	display: inline;
	position: relative;
	bottom: 6px;
}

h3
{
	margin: 0px;
	position: relative;
	top: -5px;
	font-weight: normal;
}

div#feature_info_popup
{
	display: none;
	position: fixed;
	top: 200px;
	left: 200px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 10px;
	background-color: #edededbd;
	padding: 10px;
	z-index: 1000;
}

div.map_info_label
{
	display: block;
	top: -20px;
	left: -35px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 10px;
	background-color: #edededbd;
	padding: 10px;
	width: auto;
	height: auto;
}

div#datasetloader_dialog
{
	display: block;
	min-width: 500px;
}

div#datasetloader_content
{
	padding: 5px;
}

div#datasetloader_content p
{
	margin-top: 0px;
	margin-bottom: 3px;
}

div#datasetloader_content label
{
	display: inline-block;
	min-width: 50px;
	margin-bottom: 10px;
}

div#datasetloader_content select
{
	position: absolute;
	left: 9em;
	width: 25em;
}

div#datasetloader_close_button
{
	display: none;
}

div#selection_box
{
	display: block;
	position: fixed;
	top: 85px;
	left: -1px;
	padding: 5px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #edededbd;
	z-index: 1000;
}

input#area_inside_selector
{
	margin-left: 0px;
}

div#table_view table,
div#statistics_view table
{
	border-collapse: collapse;
}

div#table_view tr.header,
div#statistics_view th
{
	background-color: #00000055;
}

div#table_view tr.odd,
div#statistics_view tr.odd
{
	background-color: #edededbd;
}

div#table_view tr.even,
div#statistics_view tr.even
{
	background-color: #00000033;
}

div#table_view td.number,
div#statistics_view td.number
{
	text-align: right;
}

div#table_view td,
div#table_view th,
div#statistics_view td,
div#statistics_view th
{
	border: 1px solid;
}

div.action_button
{
	display: block;
	position: fixed;
	right: -1px;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0px;
	margin: 0px;
	background-color: #edededbd;
	z-index: 1000;
}

div#dataset_load_button
{
	top: 40px;
}

div#classification_button
{
	top: 90px;
}

div#statistics_button
{
	top: 150px;
}

div#table_button
{
	top: 200px;
}

div#barchart_button
{
	top: 250px;
}

div#legend_view
{
	display: none;
	position: fixed;
	right: 50px;
	bottom: 30px;
	min-width: 100px;
	min-height: 40px;
	background-color: #edededbd;
	border-style: solid;
	border-width: 3px;
	padding: 0px;
	z-index: 1000;
}

div.viewcomponent
{
	display: none;
	position: fixed;
	top: 100px;
	left: 200px;
	margin-left: 15%;
	margin-top: 0px;
	min-width: 300px;
	min-height: 40px;
	background-color: rgb(234, 234, 234);
	border-style: solid;
	border-width: 3px;
	padding: 0px;
	z-index: 1000;
}

div#legend_content
{
	margin-left: 0px;
}



div.view_content
{
	margin: 10px;
	max-height: 700px;
	max-width: 1000px;
	overflow: auto;
}

div.close_button
{
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 25px;
	height: 25px;
}

h2.title_bar
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	background-color: #00000066;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: larger;
	font-weight: bold;
}

div#legend
{
	display: none;
}

div#years_selection
{
	display: none;
}

option.year_option
{
	padding-left: 5px;
	padding-right: 15px;
}

div#credits
{
	display: block;
	position: fixed;
	left: -1px;
	bottom: -1px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-top-right-radius: 5px;
	padding: 5px;
	margin: 0px;
	background-color: #edededbd;
	z-index: 1000;
}

div#credits img
{
	float: left;
	padding-right: 5px;
}


div#credits_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#credits_text span {
    margin-bottom: 5px;
}

div#credits_text a {
    margin-right: 10px;
}

div.color_gradient
{
	display: inline-block;
	width: 100px;
	height: 1em;
}

div.gradient_color
{
	display: inline-block;
	width: 1px;
	height: 1em;
}

div#load_indicator
{
	display: none;
	position: fixed;
	top: 100px;
	left: 100px;
	margin-top: 15%;
	margin-left: 30%;
	background-color: #edededbd;
	border-style: solid;
	border-width: 3px;
	padding: 5px;
	z-index: 1000;
}

div#load_indicator_text
{
	text-align: center;
}

div#load_inidicator_blocks
{
	width: 100%;
	margin-top: 10px;
}

div.load_inidicator_block
{
	float: left;
	padding: 0px;
	margin: 1px;
	width: 20px;
	height: 10px;
	border-style: solid;
	border-width: 1px;
}

fieldset#data_interpretation
{
	border-style: none;
	border-width: 0px;
	display: none;
}

label.classborder_label
{
	display: inline-block;
	width: 9.5em;
}

div#table_heading_arrow
{
	position: absolute;
	right: 0px;
}

div#table_view_data th
{
	position: relative;
}

div#classification_message
{
	display: none;
}
@media (max-width: 600px) {
    div#credits {
        flex-direction: column;
        align-items: flex-start;
    }

    div#credits img {
        margin-bottom: 5px;
    }

    div#credits_text {
        align-items: flex-start;
    }

    div#credits_text a {
        margin-bottom: 5px;
    }
}
div#credits {
    display: flex;
    align-items: flex-start;
    position: fixed;
    left: -1px;
    bottom: -1px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin: 0px;
    background-color: #edededbd;
    z-index: 1000;
}

div#credits img {
    float: left;
    padding-right: 5px;
}

div#credits_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#text_with_links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div#link_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
}

div#link_container a {
    margin-bottom: 5px;
}
