div#leafletmap
{
	height: 750px;
}

div#datasetloader_dialog
{
	display: block;
	position: fixed;
	top: 200px;
	left: 200px;
	margin-top: 0px;
	margin-left: 15%;
	min-width: 500px;
	background-color: seashell;
	border-style: solid;
	border-width: 3px;
	padding: 10px;
	z-index: 1000;
}

div#selection_box
{
	display: block;
	position: fixed;
	top: 175px;
	left: -1px;
	padding: 5px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #fff5eecc;
	z-index: 1000;
}

div#table_view
{
	display: none;
	position: fixed;
	top: 200px;
	left: 200px;
	margin-left: 15%;
	margin-top: 0px;
	min-width: 500px;
	background-color: seashell;
	border-style: solid;
	border-width: 3px;
	padding: 10px;
	z-index: 1000;
}

div.action_button
{
	display: block;
	position: fixed;
	right: -1px;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0px;
	margin: 0px;
	background-color: #fff5eecc;
	z-index: 1000;
}

div#dataset_load_button
{
	top: 100px;
}

div#table_button
{
	top: 150px;
}

div.close_button
{
	display: block;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 30px;
	height: 30px;
}