@font-face
{
	font-family: opensans;
	src: url("lib/OpenSans-Regular.ttf") format("truetype");
}

html, body
{
	height: 100%;
	margin: 0px;
	font-family: opensans, sans-serif;
}

div#leafletmap
{
	width: 100%;
	height: 100%;
	margin: 0px;
}

div#header
{
	display: block;
	position: fixed;
	top: 15px;
	left: 50px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 10px;
	padding: 0px;
	margin: 0px;
	background-color: #fff5eecc;
	z-index: 1000;
}

span#versionsub
{
	font-size: xx-small;
	font-weight: lighter;
}

h1
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2
{
	margin-top: 0px;
}

div#feature_info_popup
{
	display: none;
	position: fixed;
	top: 200px;
	left: 200px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-radius: 10px;
	background-color: #fff5eecc;
	padding: 10px;
	z-index: 1000;
}

div#datasetloader_dialog
{
	display: block;
	position: fixed;
	top: 200px;
	left: 200px;
	margin-top: 0px;
	margin-left: 15%;
	min-width: 500px;
	background-color: seashell;
	border-style: solid;
	border-width: 3px;
	padding: 10px;
	z-index: 1000;
}

div#selection_box
{
	display: block;
	position: fixed;
	top: 85px;
	left: -1px;
	padding: 5px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #fff5eecc;
	z-index: 1000;
}

input#area_inside_selector
{
	margin-left: 0px;
}

div#table_view table,
div#statistics_view table
{
	border-collapse: collapse;
}

div#table_view tr.header,
div#statistics_view th
{
	background-color: #00000055;
}

div#table_view tr.odd,
div#statistics_view tr.odd
{
	background-color: #ffffff33;
}

div#table_view tr.even,
div#statistics_view tr.even
{
	background-color: #00000033;
}

div#table_view td.number,
div#statistics_view td.number
{
	text-align: right;
}

div#table_view td,
div#table_view th,
div#statistics_view td,
div#statistics_view th
{
	border: 1px solid;
}

div.action_button
{
	display: block;
	position: fixed;
	right: -1px;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0px;
	margin: 0px;
	background-color: #fff5eecc;
	z-index: 1000;
}

div#dataset_load_button
{
	top: 50px;
}

div#table_button
{
	top: 100px;
}

div#statistics_button
{
	top: 150px;
}

div#barchart_button
{
	top: 200px;
}

div.viewcomponent
{
	display: none;
	position: fixed;
	top: 200px;
	left: 200px;
	margin-left: 15%;
	margin-top: 0px;
	min-width: 300px;
	min-height: 40px;
	background-color: seashell;
	border-style: solid;
	border-width: 3px;
	padding: 0px;
	z-index: 1000;
}

div.view_content
{
	margin: 10px;
}

div.close_button
{
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 25px;
	height: 25px;
}

div.title_bar
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	background-color: #00000066;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	height: 20px;
	text-align: center;
	font-weight: bold;
}

div#legend
{
	display: none;
}

div#years_selection
{
	display: none;
}

option.year_option
{
	margin-left: 5px;
	margin-right: 15px;
}